<h2>Home#index</h2>

<%- if current_user -%>
<p><%= image_tag("batman.jpg", :alt => "Batman 1940s") %></p>
<%- end -%>
<p>Find me in app/views/home/index.html.erb</p>

<p>
<% if current_user %>
  Logged in as <%=current_user[:name]%>
  <%= link_to 'logout','/auth/logout' %>
<% else %>
  <%= link_to 'login with Twitter','/auth/twitter' %>
<% end %>
</p>
