// Variables

$typeColor: #18191C;

// Base

body {
  background-color: #fff;
  color: $typeColor;
}

// Layout

.container {
  width: 800px;
  margin: 0 auto;
}

header[role="masthead"] {
  border-bottom: 1px solid $typeColor + 150;
  h1 {
    font-size: 51px;
    line-height: 1;
    letter-spacing: -2px;
    text-transform: uppercase;
    font-weight: 700;
    small {
      font-size: 24.5px;
      font-weight: bold;
      line-height: 1;
      opacity: 0.75;
    }
  }
}

footer[role="anchor"] {
  border-top: 1px solid $typeColor + 150;
  color: #18191C + 70;
}
