<!DOCTYPE html>
<html>
<head>
  <title>Batman</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header role="masthead">
    <div class="container">
      <h1>Batman <small>v0.1.4</small></h1>
    </div>
  </header>

  <section role="content">
    <div class="container">
      <%= yield %>
    </div>
  </section>

  <footer role="anchor">
    <div class="container">
      <p><small>Copyright &copy; <%= Time.now.strftime('%Y') %> Jason Melgoza <br> Handcrafted in Santa Barbara, California</small></p>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>
</body>
</html>